<h1>@ViewData["Title"]</h1>
<form action="Repport" method="POST">
    <label for="year">Year to create Repport</label>
    <input type="text" name="year" value="2020" /><br/>
    <input type="submit" name="submit" value="Send" />
</form>